
body { position: relative; height: 100%; }

body, #content, #sky, #grass {
    margin: 0;
    padding: 0;
}

#sky, #sky-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

#grass, #grass-bg {
    position: fixed;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 0;
    background: transparent;
}

#grass .awesome { width: 32px; }

.piece {
    position: absolute;
    z-index: 9000;
}

#cloud {
    display: none;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 300px;
    /*height: 100px;*/
    padding: 10px;
}

#cloud-title, #cloud-desc, #cloud-icon { padding: 0; margin: 0; }

#cloud-title { font-size: 18px; }
#cloud-desc { font-size: 14px; }
#cloud-icon { float: left; margin: 0 4px 4px 0; }

#add-button {
    cursor: pointer;
    
    position: fixed;
    width: 32px;
    height: 32px;
    right: 10px;
    bottom: 10px;    
}
