{% extends "base.html" %}

{% block title %}hi{% endblock %}
{% block content_header %}hi{% endblock %}
{% block content %}

    <div id="sky">
        
    </div>
    
    <div id="ground">
        
    </div>
    
    <script type="text/javascript">
    function piececlick(e) {
        alert('omg hi from ' + this);
        // Load piece's data into display bubble.
    }
    
    $(document).ready(function () {
        $.getJSON("/stuff", function (data) {
            $.each(data, function (i, item) {
                var div = $("<div/>")
                    .attr("class", "piece")
                    .attr("id", "piece-" + item.id)
                    .appendTo('#ground');
                var img = $("<img/>")
                    .attr("src", item.src)
                    .appendTo(div);
                div.draggable({ 'containment': '#ground' });
                div.click(piececlick);
            });
        });
    });
    </script>

{% endblock %}
